.inicio{
    margin-top:-50px;
    height: 200vw;
    background-color:rgba(118, 6, 161, 0.74);
}
.inicio h1{
    text-align: center;
}
.frase {
    font-family:lobster;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    font-size: 30px;
    text-align: center;
    color: #140909;
    font-weight: bold;
}
.frase.visible {
    opacity: 1;
    transform: translateY(0);
}

.frase.despaparecer {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    pointer-events: none;
}
body{
    background-color:#e269a452;
}
.container{
    position:relative;
    width:100%;
    text-align: center;
    border-radius:10px;
}
.top{
    width:90%;
    margin:auto;
    background: -webkit-linear-gradient(#a749cc83, #49cc9a83);
    border-radius:50px;
}
.top h1{
    color:rgba(203, 37, 236, 0.973);
    padding:20px;
    padding-top:50px;
    font-family:Lobster;
}
.container_msg{
    display:inline-flex;
}
.mensaje{
    font-family: cursive;
    margin:2vw;
    padding:20px;
    max-width:150px;
    max-height:300px;
    background: -webkit-linear-gradient(#ffd00083, #e2e1b9);
    border:2px inset rgb(79, 62, 95);
    border-radius:10px;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
button{
    top:50%;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor:pointer;
    position:absolute;
    border:none;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
}
#anterior{
    left:10px;
}
#siguiente{
    right:10px;
}
.album-container {
    min-height:200px;
    border-radius: 20px;
    margin:20px auto;
    background-color:rgba(209, 116, 181, 0.678);
    width: 350px;
    overflow:hidden;
    padding: 20px 20px;
    justify-content:center;
    position:relative;
}
.album-container h3{
    font-family:cursive;
    margin-top:1px;
}
.cont{
    font-family:cursive;
    justify-content: center;
    align-items:center;
    display:flex;
    margin:auto;
    margin-top:10px;
    width:40px;
    height:40px;
    border-radius:4px;
    background-color:rgba(14, 13, 13, 0.425);
}

.recuerdos h1{
    font-family:cursive;
    font-size: 30px;
    text-align: center;
    color: #140909;
    font-weight: bold;
}

.recuerdos img{
    height:400px;
    border-radius:10px;
    margin:20px;
}

.album{
    max-height:200px;
    margin:0px 10px;
    display:flex;
    transition: transform 0.5s ease;
}
.album img{
    width: 300px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.patita{
    position:absolute;
    border-radius:10px;
    left:10px;
    bottom:0px;
    max-width:80x;
    max-height:80px;
}

footer{
    background-color:rgb(32, 45, 114);

    font-family:cursive;
    font-size:30px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin:-8px;
}
.flor{
    width:160px;
    height:160px;
    position:absolute;
    bottom:30px;
    right:0px;
}
